* {
  margin: 0;
  padding: 0
}

li {
  list-style: none;
}

.box-list {
  margin-top: 50px;
  margin-left: 50px;
}

.box-list li {
  float: left;
}

.box-list li+li {
  margin-left: 50px;
}

.box {
  width: 60px;
  height: 68px;
  background: #f7f6f6;
  border: 1px solid #ebebeb;
  text-align: center;
  line-height: 68px;
}

/* 清除浮动*/
.fix {
  *zoom: 1;
}

.fix:after {
  display: table;
  content: '';
  clear: both;
}


.transform1{
  transform: skew(30deg);
}
.transform2{
  transform:scale(0.5,1);
}
.transform3{
  transform:rotate(45deg);
}
.transform4{
  transform: translate(10px,20px);
}
.transform5{
  transform: skew(30deg) scale(0.5,1) rotate(45deg) translate(10px,20px);
}